{% extends "store/layout.html" %}

{% load static %}
{% load humanize %}

{% block sidenav %}


{% for category in categories %}
<li><a href="{% url 'category' category %}">{{ category}}</a></li>
{% endfor %}

{% endblock sidenav %}

{% block body %}

<a href="#" data-target="slide-out" class="black-text sidenav-trigger hide-on-large-only"><i
        class="material-icons">menu</i></a>
<div class="row" style="margin: 10px;">
    <h3 class="category_name">{{ category_name }}</h3>
    {% for product in products %}
    <div class="col s12 l4 m6 s12">
        <a href="{% url 'product' product.id %}" class="black-text">
            <div class="card" style="border: 1px #d8d8d8 solid;">
                <div class="card-image">
                    <img src="{{ product.img }}">
                </div>
                <div class="card-content" style="border-top: 2px dashed;">
                    <p>{{ product.name }}</p>
                    <strong>₦{{ product.price|floatformat:0|intcomma }}</strong>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}

</div>
{% endblock body %}