{% extends "store/layout.html" %}

{% load static %}


{% block sidenav %}
<li id="add_category_li"><a href="#!"> Add Category</a></li>
{% endblock sidenav %}

{% block body %}

<a href="#" data-target="slide-out" class="black-text sidenav-trigger hide-on-large-only"><i
        class="material-icons">menu</i></a>
<div class="row" style="margin: 20px; position: relative;">
    <h3 class="category_name">Operator's Dashboard</h3>
    <div style="position: absolute; top: 0px; right: 0px;">
        <button class="waves-effect waves-light btn-large cyan darken-3" id="show-form-button"><i
                class="material-icons left">add</i>Add Product</button>
    </div>


    <div id="form-overlay"></div>

    <div id="form-container">
        <form id="my-form" action="{% url 'operator' %}" method="post">
            {% csrf_token %}
        <!-- Add your form fields here -->
        <div class="input-field">
            <select name="add_product_category" id="add_product_category" class="browser-default">
                <option value="" disabled selected>Pick a category</option>
                {% for category in categories %}
                <option value="{{ category}}">{{ category}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="text" name="add_product_name" placeholder="Name">
        <input type="text" name="add_product_description" placeholder="Description">
        <input type="number" name="add_product_price" id="add_product_price">
        <input type="url" name="add_product_url" id="add_product_price" placeholder="Image Url">
        <button class="btn cyan darken-3" type="submit">Submit</button>
        </form>
    </div>

    <div id="form_add_category">
        <form id="my-form" action="{% url 'add_category' %}" method="post">
            {% csrf_token %}
            <input type="text" name="add_category" placeholder="add_category">
            <button class="btn cyan darken-3" type="submit">Submit</button>
        </form>
    </div>


    <!-- {% for product in products %}
    <div class="col s12 l4 m6 s12">
        <a href="{% url 'product' product.id %}" class="black-text">
            <div class="card" style="border: 1px #d8d8d8 solid;">
                <div class="card-image">
                    <img src="{{ product.img }}">
                </div>
                <div class="card-content" style="border-top: 2px dashed;">
                    <p>{{ product.name }}</p>
                    <strong>N{{ product.price }}</strong>
                </div>
            </div>
        </a>
    </div>
    {% endfor %} -->

</div>
{% endblock body %}