{% extends "store/layout.html" %}

{% load static %}

{% block body %}

<div class="container">
    <h3 class="">{{ product.name }}</h3>
    <img class="materialboxed image-container" src="/media/store/images/{{ product.image }}">
    <h4>
        <strong>
            N {{ product.price }}
        </strong>
    </h4>
    <a class="waves-effect waves-light btn-large cyan darken-3" href="{% url 'add_to_cart' product.id %}">
        {{ add }}
    </a>
    <a class="waves-effect waves-light btn-large teal accent-4">Buy Now</a>
</div>
{% endblock body %}