@media only screen and (max-width : 992px) {

    body {
        padding-left: 0;
    }

}

body.show_side {
    padding-left: 300px;
}

.card-image {
    height: 300px;
}

.card-image img {
    height: inherit;
    width: 100%;
    overflow: hidden;
}

.image-container {
    width: 550px;
    /* Specify the desired width */
    height: 400px;
    /* Specify the desired height */
    overflow: hidden;
    /* Hide the overflowing parts of the image */
    position: relative;
}

.image-container img {
    width: 100%;
    /* Make the image fill the container horizontally */
    height: 400px;
    /* Make the image fill the container vertically */
    object-fit: cover;
    overflow: hidden;
    position: absolute;
}